/cpp/utools_export/.vs
/cpp/utools_export/Debug
/cpp/utools_export/Release
/cpp/utools_export/utools_stub/Release
/python/.idea
/cpp/utools_export/utools_stub/utools_stub.vcxproj.user
/cpp/utools_export/utools_stub/dump_cat.txt
/cpp/utools_export/utools_stub/dump_tree.txt
/cpp/utools_export/utools_stub/Debug
/cpp/utools_export/utools_export/Release
/cpp/utools_export/utools_export/Debug
/cpp/utools_export/utools_export/utools_export.vcxproj.user
/cpp/utools_export/output
